*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #dadada;
  font-family: sans-serif;
  font-size: 10px;
}

.container {
  width: 90%;
  margin: 40px auto;
}

h1 {
  font-size: 1.5em;
  letter-spacing: 1.75px;
  padding-bottom: 20px;
  padding-top: 10px;
  text-transform: uppercase;
  text-align: center;
}

h2 {
  font-family: "Times New Roman", serif;
  font-size: 2em;
  padding: 40px;
  position: relative;
  text-align: left;
}

.preview {
  min-height: 350px;
  max-width: 400px;
  margin: auto;
  margin-top: 20px;
}

.baku {
  background-image: url(../images/baku.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0px 0px, center;
  width: 100%;
}

.london {
  background-image: url(../images/london.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0px 0px, center;
  width: 100%;
}

.madrid {
  background-image: url(../images/madrid.jpg);
  background-position: 0px 0px, center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
}

.rome {
  background-image: url(../images/rome.jpg);
  background-position: 0px 0px, center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
}




/* media queries */
/* tablets */
@media screen and (min-width: 575px){
.preview {
    float: left;
    width: 48%;
    margin: 5px;
  }
}


/* desktop */

@media screen and (min-width: 991px){
  .preview {
      float: left;
      width: 23.5%;
  }

  .baku, .london, .madrid, .rome {
    height: 100% !important;
  }
}
